@charset "UTF-8";
/* settings styles
*/
/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,600,700,800);
@import url(/static/css/ogg.css?family=Ogg);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Global layout styles
*/
body {
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
}

.page-outer {
  position: relative;
}

.page-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}
.page-inner.-no-pad {
  padding: 0;
}
.page-inner.-extra-top-pad {
  padding-top: 120px;
}
@media (max-width: 850px) {
  .page-inner {
    padding-bottom: 80px;
  }
}
@media (max-width: 700px) {
  .page-inner {
    padding: 20px;
  }
}
.page-inner.-no-pad {
  padding: 0 50px;
}
@media (max-width: 940px) {
  .page-inner.-no-pad {
    padding: 0 10px;
  }
}

p {
  padding-bottom: 20px;
  line-height: 1.4;
}

h3 {
  font-weight: bold;
  line-height: 1.2;
  color: #dc1d66;
  letter-spacing: 4px;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  line-height: 1.3;
}

input {
  width: 100%;
  display: block;
  font-size: 18px;
  padding: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus {
  border-color: #dc1d66;
  outline-color: #dc1d66;
}

.desktop-only {
  display: block;
}
@media (max-width: 850px) {
  .desktop-only {
    display: none;
  }
}

.mobile-only {
  display: none;
}
@media (max-width: 850px) {
  .mobile-only {
    display: block;
  }
}

.section {
  position: relative;
  overflow: hidden;
}
.section.-first {
  padding-top: 100px;
}
.section.-dark {
  background-color: #000000;
}
.section.-hot {
  background-color: #dc1d66;
}
.section.-white {
  background-color: white;
}
.section.-section-kevin {
  margin: 200px 0 100px;
}
@media (max-width: 940px) {
  .section.-section-kevin {
    margin: 120px 0 80px;
  }
}
@media (max-width: 650px) {
  .section.-section-kevin {
    margin: 100px 0 0;
  }
}

/* Home layout styles
*/
.home-hero {
  position: relative;
  width: 100%;
  height: 680px;
  text-align: center;
  overflow: hidden;
  background-image: url("/static/images/hero-helios.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.home-hero__inner {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 54%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 800px) {
  .home-hero__inner {
    top: 53%;
  }
}

.home-hero__title {
  padding: 30px 0 0 0;
  font-size: 24px;
  line-height: 1.4;
}
@media (max-width: 940px) {
  .home-hero__title {
    font-size: 20px;
    padding: 30px 30px 0 30px;
  }
}

.home-hero__logo {
  width: 860px;
  margin: 0 auto;
}
@media (max-width: 940px) {
  .home-hero__logo {
    max-width: 80%;
  }
}

.home-hero__bg--top {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background-color: #dc1d66;
}

.home-hero__bg--bottom {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.home-hero__bg {
  position: absolute;
  height: 94%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 900px) {
  .home-hero__bg {
    height: 100%;
  }
}

.home-hero__ctas {
  padding-top: 60px;
}
@media (max-width: 650px) {
  .home-hero__ctas {
    padding-top: 110px;
  }
}

.home-hero__arrow {
  position: absolute;
  bottom: 26px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 60px;
  -webkit-animation: scroll-arrow-bounce 1.8s infinite;
  animation: scroll-arrow-bounce 1.8s infinite;
}

@-webkit-keyframes scroll-arrow-bounce {
  0%, 30%, 50%, 80%, 100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  40% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
  }
  60% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
  }
}

@keyframes scroll-arrow-bounce {
  0%, 30%, 50%, 80%, 100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  40% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
  }
  60% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
  }
}
.home-content__layout {
  position: relative;
  margin-top: 40px;
}

.helios-hdr {
  font-family: 'Ogg', serif;
  font-size: 52px;
  margin-bottom: 40px;
}
@media (max-width: 940px) {
  .helios-hdr {
    font-size: 42px;
  }
}
@media (max-width: 850px) {
  .helios-hdr {
    margin: 20px 0 40px;
    padding-right: 0px;
  }
}
@media (max-width: 650px) {
  .helios-hdr {
    font-size: 34px;
  }
}
.helios-hdr.-alt {
  color: #dc1d66;
}
.helios-hdr.-align-center {
  padding-right: 0;
  text-align: center;
}

.get-app-ctas {
  font-size: 18px;
  padding: 30px 0;
  line-height: 1.8;
}
.get-app-ctas a {
  color: white;
  text-decoration: none;
}

.home-subheader {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  width: 33.3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
}
@media (max-width: 700px) {
  .home-subheader {
    top: auto;
    left: auto;
    position: relative;
    width: 100%;
    padding-right: 0;
  }
}

.home-list__cta {
  position: absolute;
  bottom: 50px;
  left: 0;
  font-size: 52px;
  width: 33.3%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
  font-family: 'Ogg', serif;
}
@media (max-width: 700px) {
  .home-list__cta {
    bottom: auto;
    left: auto;
    position: relative;
    width: 100%;
    padding-right: 0;
    font-size: 42px;
  }
}

@media (max-width: 700px) {
  .home-content__row {
    padding-top: 0px;
  }
}
.home-content__row:after {
  content: '';
  clear: both;
  display: table;
}

.home-content__col {
  float: left;
  width: 50%;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.home-content__col:last-child {
  padding-right: 0;
}
@media (max-width: 850px) {
  .home-content__col:last-child {
    padding: 0;
  }
}
.home-content__col:first-child {
  padding-left: 0;
}
@media (max-width: 850px) {
  .home-content__col:first-child {
    padding: 0;
  }
}
@media (max-width: 850px) {
  .home-content__col {
    float: none;
    width: 100%;
  }
}

.home-content__slot {
  padding: 100px 0 20px;
  margin-bottom: 25px;
}
.home-content__slot p {
  margin: 16px 0 0 0;
  padding: 0;
}
.home-content__slot.-bottom-slot {
  margin-top: 140px;
}
@media (max-width: 850px) {
  .home-content__slot.-bottom-slot {
    margin-top: 40px;
  }
}

.home-sidebar {
  color: #dc1d66;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Oswald','Ogg', serif;
}
@media (max-width: 900px) {
  .home-sidebar {
    font-size: 65px;
  }
}
@media (max-width: 850px) {
  .home-sidebar {
    font-size: 60px;
    margin: 50px 0;
  }
}

.home-hiring__slot {
  position: absolute;
  bottom: 25px;
  right: 0;
  font-style: italic;
  color: #dc1d66;
  line-height: 1.3;
  width: 50%;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 850px) {
  .home-hiring__slot {
    position: absolute;
    padding: 0;
    width: 100%;
    bottom: -25px;
  }
}
@media (max-width: 700px) {
  .home-hiring__slot {
    bottom: -50px;
  }
}
.home-hiring__slot a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-style: italic;
  color: #dc1d66;
}
.home-hiring__slot a:hover {
  color: white;
}

.home-contact {
  line-height: 1.4;
}

.center-content {
  position: relative;
  min-height: 400px;
  text-align: center;
}
.center-content.-tall {
  min-height: 600px;
}
@media (max-width: 650px) {
  .center-content.-tall {
    min-height: 480px;
  }
}
@media (max-width: 530px) {
  .center-content.-tall {
    min-height: 380px;
  }
}
@media (max-width: 940px) {
  .center-content {
    min-height: 400px;
  }
}
@media (max-width: 650px) {
  .center-content {
    min-height: 280px;
  }
}
@media (max-width: 530px) {
  .center-content {
    min-height: 280px;
  }
}

.single-quote {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Ogg', serif;
  font-size: 52px;
  line-height: 1.2;
  width: 80%;
}
.single-quote.-relative-heading {
  position: relative;
  top: auto;
  left: auto;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  margin: 0 auto;
  padding: 140px 0 180px;
}
.single-quote.-less-space {
  top: 60%;
}
@media (max-width: 940px) {
  .single-quote {
    font-size: 46px;
  }
}
@media (max-width: 650px) {
  .single-quote {
    font-size: 40px;
  }
}
@media (max-width: 530px) {
  .single-quote {
    font-size: 35px;
  }
}
.single-quote.-hot {
  color: #dc1d66;
}
.single-quote.-full {
  width: 100%;
  text-align: left;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.single-quote.-align-right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 46%;
  width: 100%;
  text-align: left;
}
@media (max-width: 650px) {
  .single-quote.-align-right {
    padding-left: 34%;
  }
}
.single-quote.-align-left {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 46%;
  width: 100%;
  text-align: left;
  padding-left: 50px;
}
@media (max-width: 650px) {
  .single-quote.-align-left {
    padding-left: 20px;
    padding-right: 26%;
  }
}
.single-quote .single-quote__credit {
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Oswald','Ogg', serif;
  padding: 40px 0 20px;
  color: #dc1d66;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
@media (max-width: 650px) {
  .columns {
    display: block;
    margin-bottom: 120px;
  }
}

.column-header {
  color: #dc1d66;
  padding: 10px 0 20px;
  border-top: 1px solid #dc1d66;
  font-size: 24px;
}

.column-13 {
  width: 33.3%;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 25px;
  text-align: left;
  font-size: 22px;
}
@media (max-width: 940px) {
  .column-13 {
    font-size: 18px;
  }
}
@media (max-width: 650px) {
  .column-13 {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
  }
}

.column-12 {
  width: 50%;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 25px;
  text-align: left;
  font-size: 22px;
}
@media (max-width: 940px) {
  .column-12 {
    font-size: 18px;
  }
}
@media (max-width: 650px) {
  .column-12 {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
  }
}

.column-11 {
  width: 100%;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 25px;
  text-align: left;
  font-size: 22px;
}
@media (max-width: 940px) {
  .column-11 {
    font-size: 18px;
  }
}
@media (max-width: 650px) {
  .column-11 {
    padding: 0 10px;
    margin-bottom: 20px;
  }
}

.section-screenshot {
  margin: 0 auto;
}
.section-screenshot img {
  width: 100%;
}
.section-screenshot.-align-bottom {
  position: relative;
  bottom: -100px;
  margin-top: 0;
}
@media (max-width: 940px) {
  .section-screenshot.-align-bottom {
    margin-top: 0;
    bottom: -40px;
  }
}
@media (max-width: 450px) {
  .section-screenshot.-align-bottom {
    -webkit-transform: translateX(-75%);
    -ms-transform: translateX(-75%);
    transform: translateX(-75%);
  }
}
@media (max-width: 450px) {
  .section-screenshot.-align-bottom img {
    width: 250%;
  }
}
@media (max-width: 450px) {
  .section-screenshot.-align-center img {
    width: 248%;
    -webkit-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    transform: translateX(-30%);
  }
}

.section-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-background.-willow img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 55%;
}
@media (max-width: 940px) {
  .section-background.-willow img {
    padding: 0 10px;
    width: auto;
    height: 100%;
  }
}
.section-background.-kevin img {
  position: absolute;
  right: 40%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 65%;
}
@media (max-width: 940px) {
  .section-background.-kevin img {
    width: auto;
    height: 100%;
    right: 20%;
  }
}

.single-image-container {
  max-width: 1100px;
  margin: 200px auto 0;
}
.single-image-container img {
  width: 100%;
}
.single-image-container .cta {
  text-align: center;
  margin: 40px 0 40px;
}

.video-embed {
  max-width: 900px;
  margin: 80px auto 0;
}
@media (max-width: 650px) {
  .video-embed {
    margin-top: 0;
  }
}

.press-embed {
  position: relative;
  max-width: 900px;
  margin: 200px auto;
  text-align: center;
}
.press-embed img {
  width: 100%;
}
.press-embed .press-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

/* Press layout styles
*/
.press-item {
  position: relative;
  text-align: left;
  max-width: 1000px;
  margin: 0 auto 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.press-item:last-child {
  margin-bottom: 60px;
}

.press-item__image {
  width: 55%;
}
.press-item__image img {
  width: 100%;
}

.press-item__content {
  position: relative;
  width: 45%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px 0 40px;
}

.press-item__inner {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.press-item__title {
  font-size: 42px;
  font-family: 'Ogg', serif;
}

.press-item__desc {
  line-height: 1.4;
  font-size: 20px;
  padding: 20px 0 30px;
}

/* buttons styles
*/
.button-default {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  text-decoration: none;
  padding: 10px 16px;
  border: 1px solid #dc1d66;
  color: #dc1d66;
  font-size: 18px;
  font-family: 'Ogg', serif;
}
.button-default.-margin-top {
  margin-top: 40px;
}
@media (max-width: 700px) {
  .button-default.-margin-top {
    margin-top: 30px;
  }
}
.button-default.-modal:hover {
  border: 1px solid #dc1d66;
  color: white;
  background-color: #dc1d66;
}
.button-default:hover {
  border: 1px solid #dc1d66;
  color: white;
  background-color: #dc1d66;
}

.button-hero {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  text-decoration: none;
  padding: 20px 50px;
  color: #dc1d66;
  background-color: white;
  font-size: 26px;
  font-family: 'Ogg', serif;
}
.button-hero:hover {
  color: white;
  background-color: #dc1d66;
}
.button-hero.-small {
  padding: 14px 30px;
  font-size: 22px;
}

.button-topnav {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  color: #dc1d66;
  background-color: white;
  font-size: 20px;
  font-family: 'Ogg', serif;
}
.button-topnav:hover {
  color: white;
  background-color: #dc1d66;
}

.button-contact {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #dc1d66;
}
.button-contact:hover {
  color: white;
}

/* Modal styles
*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: black;
}

.modal-content {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  color: #424242;
  padding: 40px;
  width: 90%;
  max-width: 500px;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  text-decoration: none;
  color: #dc1d66;
  font-weight: bold;
}

.modal-hdr {
  font-weight: bold;
  line-height: 1.3;
  font-size: 20px;
  margin-bottom: 5px;
}

.form-inputs, .form-loading, .form-success {
  display: none;
  position: relative;
  min-height: 200px;
}

.form-inputs {
  display: block;
}

.form-loading__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  line-height: 1.3;
  width: 100%;
}

/* slick styles
*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #797979;
  z-index: 1;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
  background-color: #D0B449;
  border: none !important;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -20px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "<";
}
[dir="rtl"] .slick-prev:before {
  content: ">";
}

.slick-next {
  right: -20px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: ">";
}
[dir="rtl"] .slick-next:before {
  content: "<";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Navigation layout styles
*/
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #000000;
}

.top-nav__inner {
  position: relative;
  max-width: 1200px;
  text-align: center;
  font-size: 28px;
  font-family: 'Oswald','Ogg', serif;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 10px 0;
}
@media (max-width: 650px) {
  .top-nav__inner {
    font-size: 22px;
    text-align: left;
    padding: 10px;
  }
}
.top-nav__inner .top-nav__about {
  position: absolute;
  left: 10px;
  top: 10px;
}
.top-nav__inner .top-nav__join {
  position: absolute;
  right: 10px;
  top: 10px;
}
.top-nav__inner a {
  color: #dc1d66;
  text-decoration: none;
}

.top-nav__socials {
  position: absolute;
  right: 10px;
  top: 14px;
}
.top-nav__socials a {
  display: inline-block;
  padding-left: 10px;
}
.top-nav__socials img {
  width: 25px;
}
@media (max-width: 650px) {
  .top-nav__socials {
    top: 18px;
  }
}

.footer {
  width: 100%;
  background-color: #000000;
}

.footer-inner {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px 50px;
  font-size: 15px;
  line-height: 1.4;
}
.footer-inner a {
  color: white;
}
@media (max-width: 650px) {
  .footer-inner {
    text-align: center;
  }
}

.footer-ctas {
  position: absolute;
  right: 50px;
  top: 25px;
}
@media (max-width: 650px) {
  .footer-ctas {
    position: relative;
    right: auto;
    top: 0;
    padding: 15px 0;
  }
}
